# Preparing the KEN datasets

In this notebook I will be looking at the raw versions of the KEN datasets, then 
follow the pre-processing steps used for the KEN baseline. Note that I am using 
YAGO 2022, so that might introduce discrepancies between this and the original
version.

Datasets:
- [The Movies Dataset](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset)
- [7+ Million Company Dataset](https://www.kaggle.com/datasets/peopledatalabssf/free-7-million-company-dataset)
- [US Accidents (2016 - 2021)](https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents)

In [3]:
cd ~/work/prepare-data-lakes

/home/soda/rcappuzz/work/prepare-data-lakes

In [1]:
import polars as pl
import pandas as pd
from pathlib import Path
import src.yago.utils as utils

ModuleNotFoundError: No module named 'src'

In [5]:
data_dir = Path("data/kaggle")

Loading YAGO fact triplets to drop entities not found in the KB.

In [6]:
yago_path = Path("/storage/store3/work/jstojano/yago3/")
facts_path = Path(yago_path, "facts_parquet/yago_updated_2022_part2")
fname = "yagoFacts"
yagofacts_path = Path(facts_path, f"{fname}.tsv.parquet")
yagofacts_categorical = utils.import_from_yago(yagofacts_path, engine="polars")
fname = "yagoLiteralFacts"
yagoliteralfacts_path = Path(facts_path, f"{fname}.tsv.parquet")
yagofacts_numerical = utils.import_from_yago(yagoliteralfacts_path, engine="polars")
fname = "yagoDateFacts"
yagodatefacts_path = Path(facts_path, f"{fname}.tsv.parquet")
yagofacts_dates = utils.import_from_yago(yagodatefacts_path, engine="polars")

yagofacts = pl.concat(
    [
        yagofacts_categorical,
        yagofacts_numerical,
        yagofacts_dates
    ]
)

# US Accidents dataset

Archive `us-accidents.zip` contains the file `US_Accidents_Dec21_updated.csv`, 
which I renamed manually to `us-accidents.csv` for simplicity. 

I also had to copy the file `datasets/us_accidents/state_codes.csv` from the 
KEN repository for some of the steps.

In [7]:
dataset_dir = Path(data_dir, "us-accidents")

In [8]:
df = pl.read_csv(Path(dataset_dir, "us-accidents.csv"))
df = df.rename({"State": "Code"})

In [9]:
state_codes_path =  Path(dataset_dir,"state_codes.csv")
state_codes = pl.read_csv(state_codes_path)
df = df.join(
    state_codes, on="Code"
)

Adding a new column, `col_to_embed`, that formats the city and state name to have
the same format that is found in YAGO.

In [10]:
df = df.with_columns(
    ("<" + pl.col("City") + ",_"+ pl.col("State") + ">").alias("col_to_embed")
)

Filtering out the rows not found in `yagofacts["subject"]`.

In [11]:
df_filtered=df.lazy().filter(
    pl.col("col_to_embed").is_in(
        yagofacts["subject"]
    )
).collect()

Completing the preparation by grouping the number of accidents by city, then applying the log10 to the count. This is 
the target used in KEN.

In [12]:
df_counts = df_filtered.groupby(
    [
        "col_to_embed", "City", "Code"
    ]
    ).count()

In [13]:
df_final = df_counts.with_columns(
    (df_counts["City"] + ", " + df_counts["Code"]).alias("raw_entities") 
).select(
    [
        pl.col("raw_entities"),
        pl.col("col_to_embed"),
        pl.col("count").alias("target").log10()
    ]
).sort("raw_entities")

In [14]:
df_final

shape: (9850, 3)
┌─────────────────┬─────────────────────────────┬──────────┐
│ raw_entities    ┆ col_to_embed                ┆ target   │
│ ---             ┆ ---                         ┆ ---      │
│ str             ┆ str                         ┆ f64      │
╞═════════════════╪═════════════════════════════╪══════════╡
│ Abbeville, AL   ┆ <Abbeville,_Alabama>        ┆ 0.778151 │
│ Abbeville, LA   ┆ <Abbeville,_Louisiana>      ┆ 0.0      │
│ Abbotsford, WI  ┆ <Abbotsford,_Wisconsin>     ┆ 0.954243 │
│ Abbottstown, PA ┆ <Abbottstown,_Pennsylvania> ┆ 1.39794  │
│ …               ┆ …                           ┆ …        │
│ Zortman, MT     ┆ <Zortman,_Montana>          ┆ 1.113943 │
│ Zumbrota, MN    ┆ <Zumbrota,_Minnesota>       ┆ 2.450249 │
│ Zuni, VA        ┆ <Zuni,_Virginia>            ┆ 1.255273 │
│ Zwingle, IA     ┆ <Zwingle,_Iowa>             ┆ 1.041393 │
└─────────────────┴─────────────────────────────┴──────────┘

In [15]:
df_final.write_parquet(Path(dataset_dir, "us-accidents-target.parquet"))

Reading original to see if the two versions look similar.

In [16]:
path_original=Path("/storage/store3/work/acvetkov/gitlab/KEN/experiments/datasets/us_accidents/counts.parquet")
df_counts_og = pl.read_parquet(path_original)
df_counts_og

shape: (8538, 3)
┌─────────────────┬─────────────────────────────┬──────────┐
│ raw_entities    ┆ col_to_embed                ┆ target   │
│ ---             ┆ ---                         ┆ ---      │
│ str             ┆ str                         ┆ f64      │
╞═════════════════╪═════════════════════════════╪══════════╡
│ Aaronsburg, PA  ┆ <Aaronsburg,_Pennsylvania>  ┆ 0.30103  │
│ Abbeville, LA   ┆ <Abbeville,_Louisiana>      ┆ 0.0      │
│ Abbotsford, WI  ┆ <Abbotsford,_Wisconsin>     ┆ 0.954243 │
│ Abbottstown, PA ┆ <Abbottstown,_Pennsylvania> ┆ 1.041393 │
│ …               ┆ …                           ┆ …        │
│ Zionsville, PA  ┆ <Zionsville,_Pennsylvania>  ┆ 0.0      │
│ Zumbrota, MN    ┆ <Zumbrota,_Minnesota>       ┆ 2.193125 │
│ Zuni, VA        ┆ <Zuni,_Virginia>            ┆ 1.079181 │
│ Zwingle, IA     ┆ <Zwingle,_Iowa>             ┆ 0.60206  │
└─────────────────┴─────────────────────────────┴──────────┘

As expected, the number of entities in the original file is smaller.

# Company Employees Dataset

In [17]:
dataset_dir = Path(data_dir, "company-employees")

In [18]:
df = pl.read_csv(Path(dataset_dir, "companies_sorted.csv"))
df_selected = df.filter(
    pl.col("current employee estimate") >= 1000
)

I am using a slightly different euristic compared to what Alexis was using.

Adding a new column to `yagofacts` with lowercased subjects.

In [19]:
yagofacts = yagofacts.with_columns(
    pl.col("subject").str.to_lowercase().alias("subject_formatted")
)

In [20]:
df_filtered=df_selected.lazy().with_columns(
    ("<" + pl.col("name").str.to_lowercase().str.replace(" ", "_") + ">").alias("formatted_name")
).filter(
    pl.col("formatted_name").is_in(yagofacts["subject_formatted"])
).collect()

Here I am preparing a mapping between the name in the original dataset and the match found in YAGO.
Note that there is a relatively low recall, though it is higher than what is used in the original.

In [21]:
mapping_name_subject = df_filtered.lazy().join(
    yagofacts.lazy(),
    left_on="formatted_name",
    right_on="subject_formatted"
).select(
    [
        pl.col("name"),
        pl.col("formatted_name"),
        pl.col("subject")
    ]
).unique().collect()

Joining on with the mapping on `formatted_name` to guarantee that col `col_to_embed` uses the same format (and 
capitalization) used in YAGO.

In [22]:
df_final = df_filtered.join(
    mapping_name_subject, on="formatted_name"
).select(
    [
        pl.col("name").alias("raw_entities"),
        pl.col("subject").alias("col_to_embed"),
        pl.col("current employee estimate").alias("target").log10()
    ]
)

df_final.write_parquet(Path(dataset_dir, "company-employees-target.parquet"))

In [23]:
df_final

shape: (3033, 3)
┌─────────────────────────┬───────────────────────────┬──────────┐
│ raw_entities            ┆ col_to_embed              ┆ target   │
│ ---                     ┆ ---                       ┆ ---      │
│ str                     ┆ str                       ┆ f64      │
╞═════════════════════════╪═══════════════════════════╪══════════╡
│ ibm                     ┆ <IBM>                     ┆ 5.437825 │
│ accenture               ┆ <Accenture>               ┆ 5.280326 │
│ hewlett-packard         ┆ <Hewlett-Packard>         ┆ 5.107047 │
│ walmart                 ┆ <Walmart>                 ┆ 5.081898 │
│ …                       ┆ …                         ┆ …        │
│ jagiellonian university ┆ <Jagiellonian_University> ┆ 3.000434 │
│ becu                    ┆ <BECU>                    ┆ 3.0      │
│ sta travel              ┆ <STA_Travel>              ┆ 3.0      │
│ megacable               ┆ <Megacable>               ┆ 3.0      │
└─────────────────────────┴───────────────────────────┴──────────┘

In [24]:
path_original=Path("/storage/store3/work/acvetkov/gitlab/KEN/experiments/datasets/company_employees/target.parquet")
df_target_og = pl.read_parquet(path_original)
df_target_og

shape: (3042, 3)
┌──────────────┬──────────────┬──────────┐
│ raw_entities ┆ col_to_embed ┆ target   │
│ ---          ┆ ---          ┆ ---      │
│ str          ┆ str          ┆ f64      │
╞══════════════╪══════════════╪══════════╡
│ accenture    ┆ <Accenture>  ┆ 5.280326 │
│ walmart      ┆ <Walmart>    ┆ 5.081898 │
│ microsoft    ┆ <Microsoft>  ┆ 5.065191 │
│ infosys      ┆ <Infosys>    ┆ 5.020162 │
│ …            ┆ …            ┆ …        │
│ xml          ┆ <XML>        ┆ 3.022841 │
│ posco        ┆ <POSCO>      ┆ 3.006894 │
│ oncf         ┆ <ONCF>       ┆ 3.006466 │
│ becu         ┆ <BECU>       ┆ 3.0      │
└──────────────┴──────────────┴──────────┘

Here I am checking which values in `col_to_embed` are not found in `yagofacts["subject"]`. These companies are missing 
because the name of the company is not the same in the original dataset and in YAGO.

In [25]:
df_target_og.filter(
    ~pl.col("col_to_embed").is_in(yagofacts["subject"])
)

shape: (327, 3)
┌──────────────┬───────────────┬──────────┐
│ raw_entities ┆ col_to_embed  ┆ target   │
│ ---          ┆ ---           ┆ ---      │
│ str          ┆ str           ┆ f64      │
╞══════════════╪═══════════════╪══════════╡
│ raytheon     ┆ <Raytheon>    ┆ 4.375353 │
│ thales       ┆ <Thales>      ┆ 4.321868 │
│ herbalife    ┆ <Herbalife>   ┆ 4.289433 │
│ flextronics  ┆ <Flextronics> ┆ 4.279644 │
│ …            ┆ …             ┆ …        │
│ oneok        ┆ <ONEOK>       ┆ 3.134177 │
│ trt          ┆ <TRT>         ┆ 3.117271 │
│ nbty         ┆ <NBTY>        ┆ 3.061829 │
│ vtb          ┆ <VTB>         ┆ 3.043755 │
└──────────────┴───────────────┴──────────┘

# The Movies Dataset

In [26]:
dataset_dir = Path(data_dir, "the-movies-dataset")
df = pl.read_csv(Path(dataset_dir, "movies_metadata.csv"), infer_schema_length=0)

The target variable is the revenue, so movies with revenue 0 are dropped. I am also reformatting the release date for creating the title mappings.

In [27]:
# Filtering
df_filtered = df.filter(
    pl.col("revenue").cast(int) > 0
).with_columns(
    (pl.col("release_date").str.slice(0, 4)).alias("release_date")
)

`title` and `release_date` together should approximate a unique key quite well: I am looking to see whether this is the case or not.

In [68]:
df_filtered.groupby(["title", "release_date"]).count().sort("count",descending=True)

shape: (7398, 3)
┌─────────────────────────────────┬──────────────┬───────┐
│ title                           ┆ release_date ┆ count │
│ ---                             ┆ ---          ┆ ---   │
│ str                             ┆ str          ┆ u32   │
╞═════════════════════════════════╪══════════════╪═══════╡
│ A Farewell to Arms              ┆ 1932         ┆ 2     │
│ Confessions of a Dangerous Mind ┆ 2002         ┆ 2     │
│ Black Gold                      ┆ 2011         ┆ 2     │
│ Force Majeure                   ┆ 2014         ┆ 2     │
│ …                               ┆ …            ┆ …     │
│ Austenland                      ┆ 2013         ┆ 1     │
│ The Legend of Hercules          ┆ 2014         ┆ 1     │
│ CBGB                            ┆ 2013         ┆ 1     │
│ The Perez Family                ┆ 1995         ┆ 1     │
└─────────────────────────────────┴──────────────┴───────┘

In [69]:
# Prepare 3 different mappings, to try and cover as many cases as possible
mapping_to_yago = df_filtered.select([pl.col("title"), pl.col("release_date"), pl.col("revenue")])

mapping_to_yago=mapping_to_yago.with_columns(
    [
        ("<" + pl.col("title").str.replace(" ", "_") + ">").alias("title_format_1"),
        ("<" + pl.col("title").str.replace(" ", "_") + "_(film)>").alias("title_format_2"),
        ("<" + pl.col("title").str.replace(" ", "_") +  "_(" + pl.col("release_date") + "_film)>").alias("title_format_3"),
        pl.Series(list(range(len(mapping_to_yago)))).alias("index")
    ]
)

Here I am looking for movies that are present in YAGO according to one of the three formats defined above. 

I also reformat the output to reflect the "target dataset" schema.

In [54]:
tgt_indices = []
selected = []
for jj in [3,2,1]:
    g1 = mapping_to_yago.filter(
        (pl.col(f"title_format_{jj}").is_in(yagofacts["subject"])) & 
        (~pl.col(f"index").is_in(tgt_indices))
    ).select(pl.col("index"))

    tgt_indices=g1["index"].to_list()
    
    newdf = mapping_to_yago.filter(
        pl.col("index").is_in(tgt_indices)
    ).select(
        [
            pl.col("title"),
            pl.col(f"title_format_{jj}").alias("col_to_embed"),
            pl.col("revenue").log10(),
        ]
    )
    selected.append(newdf)

df_final=pl.concat(selected)
df_final.write_parquet(Path(dataset_dir, "movie-revenues-target.parquet"))

Now I am loading the target dataset that was prepared for KEN and compare it to what I have.

In [71]:
path_original=Path("/storage/store3/work/acvetkov/gitlab/KEN/experiments/datasets/movie_revenues/target.parquet")
df_target_og = pl.read_parquet(path_original)
df_target_og

shape: (4923, 3)
┌──────────────────────────┬───────────────────────────────────┬──────────┐
│ raw_entities             ┆ col_to_embed                      ┆ target   │
│ ---                      ┆ ---                               ┆ ---      │
│ str                      ┆ str                               ┆ f64      │
╞══════════════════════════╪═══════════════════════════════════╪══════════╡
│ Heat                     ┆ <Heat_(1995_film)>                ┆ 8.272855 │
│ Sudden Death             ┆ <Sudden_Death_(1995_film)>        ┆ 7.80855  │
│ Cry, the Beloved Country ┆ <Cry,_the_Beloved_Country_(1995_… ┆ 5.830284 │
│ Pocahontas               ┆ <Pocahontas_(1995_film)>          ┆ 8.539176 │
│ …                        ┆ …                                 ┆ …        │
│ Gymkata                  ┆ <Gymkata>                         ┆ 6.7582   │
│ Moka                     ┆ <Moka>                            ┆ 5.101963 │
│ One Hundred Steps        ┆ <One_Hundred_Steps>               ┆ 6.25669  │
│ Sahara                   ┆ <Sahara>                          ┆ 6.892095 │
└──────────────────────────┴───────────────────────────────────┴──────────┘

Looking for movies whose `col_to_embed` is not found in the `subject` column (for whatever reason).

In [70]:
df_target_og.filter(
    ~pl.col("col_to_embed").is_in(yagofacts["subject"])
)

shape: (477, 3)
┌──────────────────────┬───────────────────────────────────┬──────────┐
│ raw_entities         ┆ col_to_embed                      ┆ target   │
│ ---                  ┆ ---                               ┆ ---      │
│ str                  ┆ str                               ┆ f64      │
╞══════════════════════╪═══════════════════════════════════╪══════════╡
│ Dracula              ┆ <Dracula_(1931_film)>             ┆ 6.005262 │
│ Runaway Bride        ┆ <Runaway_Bride_(1999_film)>       ┆ 8.490601 │
│ Niagara              ┆ <Niagara_(1953_film)>             ┆ 6.929419 │
│ Love's Labour's Lost ┆ <Love's_Labour's_Lost_(2000_film… ┆ 5.47682  │
│ …                    ┆ …                                 ┆ …        │
│ Eternal Summer       ┆ <Eternal_Summer>                  ┆ 5.404834 │
│ The Shack            ┆ <The_Shack>                       ┆ 7.758389 │
│ Ultimate Avengers 2  ┆ <Ultimate_Avengers_2>             ┆ 6.897627 │
│ The Beguiled         ┆ <The_Beguiled>                    ┆ 7.405567 │
└──────────────────────┴───────────────────────────────────┴──────────┘

In [72]:
# Movies that are in the KEN version and not in the new version. 
df_target_og.filter(
    (pl.col("col_to_embed").is_in(yagofacts["subject"])) &
    (~pl.col("col_to_embed").is_in(df_final["col_to_embed"]))
)

shape: (1912, 3)
┌──────────────────────────┬───────────────────────────────────┬──────────┐
│ raw_entities             ┆ col_to_embed                      ┆ target   │
│ ---                      ┆ ---                               ┆ ---      │
│ str                      ┆ str                               ┆ f64      │
╞══════════════════════════╪═══════════════════════════════════╪══════════╡
│ Cry, the Beloved Country ┆ <Cry,_the_Beloved_Country_(1995_… ┆ 5.830284 │
│ Bed of Roses             ┆ <Bed_of_Roses_(1996_film)>        ┆ 7.279455 │
│ Man of the Year          ┆ <Man_of_the_Year_(1995_film)>     ┆ 5.322085 │
│ The Scarlet Letter       ┆ <The_Scarlet_Letter_(1995_film)>  ┆ 7.016298 │
│ …                        ┆ …                                 ┆ …        │
│ God of Gamblers          ┆ <God_of_Gamblers>                 ┆ 6.67782  │
│ I Was a Teenage Werewolf ┆ <I_Was_a_Teenage_Werewolf>        ┆ 6.30103  │
│ Moka                     ┆ <Moka>                            ┆ 5.101963 │
│ One Hundred Steps        ┆ <One_Hundred_Steps>               ┆ 6.25669  │
└──────────────────────────┴───────────────────────────────────┴──────────┘

In [74]:
df_final.filter(
    ~(pl.col("col_to_embed").is_in(yagofacts["subject"]))
)

shape: (0, 3)
┌───────┬──────────────┬─────────┐
│ title ┆ col_to_embed ┆ revenue │
│ ---   ┆ ---          ┆ ---     │
│ str   ┆ str          ┆ f64     │
╞═══════╪══════════════╪═════════╡
└───────┴──────────────┴─────────┘